<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0stw_HLuwY6nVLG17UpMGNGSsLL7fMsg</string>
	<key>GCM_SENDER_ID</key>
	<string>331365296580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cuatroApplication</string>
	<key>PROJECT_ID</key>
	<string>cuatro-application-6193f</string>
	<key>STORAGE_BUCKET</key>
	<string>cuatro-application-6193f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331365296580:ios:bc1597b04494e4a9699c91</string>
</dict>
</plist>